In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [3]:
df= pd.read_csv("world_data_full_apply_nulos.csv", index_col=0)
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa

In [4]:
#Calcula las siguientes estadísticas descriptivas para las variables numéricas: Media, Mediana, Desviación estándar, Mínimo, Máximo


df.describe()

,density,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,co2-emissions,cpi,cpi_change,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,life_expectancy,maternal_mortality_ratio,minimum_wage,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
count,195.000000,188.000000,165.000000,166.000000,189.000000,194.000000,183.000000,175.000000,179.000000,188.000000,188.000000,175.000000,1.930000e+02,188.000000,183.000000,189.000000,187.000000,181.000000,150.000000,188.000000,188.000000,39.000000,176.000000,169.000000,183.000000,176.000000,45.000000,194.000000,194.000000
mean,134.504533,39.117553,255.212661,103.783133,20.214974,360.546392,125.915470,144.193600,6.722346,2.698138,32.015426,1.002457,4.772959e+11,102.470213,37.963388,21.332804,72.279679,160.392265,2.194133,32.637234,1.839840,333.542718,62.738068,16.573964,40.822404,6.886364,279.461044,19.092351,20.232434
std,157.306774,21.783052,258.385008,167.158031,9.945774,323.236419,181.794917,54.783998,24.450414,1.282267,23.791331,0.368858,2.172173e+12,13.151607,29.261022,19.548058,7.483661,233.502024,2.970796,19.172697,1.684261,296.467504,10.502907,6.961632,20.557662,5.079216,283.322352,23.961779,66.716110
min,1.265000,0.600000,0.000000,0.000000,5.900000,1.000000,1.016000,99.030000,-4.300000,0.980000,0.000000,0.000000,4.727146e+07,23.400000,0.800000,1.400000,52.800000,2.000000,0.010000,0.200000,0.010000,10.084000,38.000000,0.000000,8.000000,0.090000,5.464000,-40.900557,-175.198242
25%,26.168500,21.700000,41.277000,10.250000,11.300000,82.500000,7.600000,113.670000,1.000000,1.705000,11.000000,0.755000,8.454620e+09,98.950000,12.150000,6.000000,67.000000,13.000000,0.402500,17.450000,0.332500,87.130000,56.150000,11.700000,30.600000,3.395000,40.765000,4.544175,-7.941496
50%,83.000000,39.600000,148.460000,28.500000,17.950000,255.500000,34.477000,124.740000,2.300000,2.245000,32.000000,0.980000,3.438723e+10,102.550000,31.200000,14.000000,73.200000,53.000000,1.045000,30.700000,1.460000,215.056000,62.450000,16.300000,37.200000,5.360000,179.039000,17.273849,20.972652
75%,165.500000,55.375000,430.000000,128.250000,28.750000,506.750000,185.030500,155.925000,4.250000,3.597500,48.175000,1.240000,2.340940e+11,108.025000,63.150000,32.700000,77.500000,186.000000,2.447500,43.975000,2.935000,556.162500,69.500000,21.100000,48.000000,9.490000,417.765000,40.124603,48.281523
max,847.000000,82.600000,964.000000,936.000000,46.080000,1876.000000,727.973000,550.930000,254.900000,6.910000,98.300000,2.000000,2.142770e+13,142.500000,136.600000,84.500000,85.400000,1150.000000,13.590000,81.600000,8.420000,973.560000,86.800000,37.200000,219.600000,28.180000,984.812000,64.963051,178.065032

In [ ]:
#Identifica el país con la mayor densidad de población y el país con la menor población en el conjunto de datos

# Convertir columnas a valores numéricos
df_clean['density'] = pd.to_numeric(df_clean['density'], errors='coerce')
df_clean['population'] = pd.to_numeric(df_clean['population'], errors='coerce')

# Identificar el país con mayor densidad de población
max_density_country = df_clean.loc[df_clean['density'].idxmax(), ['country', 'density']]

# Identificar el país con menor población
min_population_country = df_clean.loc[df_clean['population'].idxmin(), ['country', 'population']]

847.0

In [ ]:
mayor_d = df.loc[df["density"].idxmax(), "country"]               #manera chatgpt
mayor_d

'Palestinian National Authority'

In [ ]:
menor_p = df.loc[df["population"].idxmin(), "country"]             #manera chatgpt
menor_p

'Nauru'

In [ ]:
mayor_d = df[df["density"] == df["density"].max()][["country", "density"]]       #primer df[] filtrar filas. [["country", "density"]]  sobre qué columnas. 
                                                                                 #DOBLE CORCHETE PARA INDICAR QUE ES UNA LISTA Y NO UNA TUPLA!!!
mayor_d                                                                          #crea un booleano. creando una condicion [df["density"] == df["density"].max()]

                            country  density
133  Palestinian National Authority    847.0

In [16]:
menor_p = df[df["population"] == df["population"].min()][["country", "population"]]

menor_p

    country  population
120   Nauru      10.084

In [ ]:
#Calcula la tasa promedio de natalidad (birth_rate) para todos los países en el conjunto de datos.

                                                                    #Tasa promedio = MEDIA .mean()
birth_rate_avg = df["birth_rate"].mean(skipna=True)                 #skipna=True : se omiten los valores NaN

birth_rate_avg

20.214973544973546

In [ ]:
tasa_promedio = df["birth_rate"].mean()                            #misma forma de hacerlo pero sin especificar lo de los NaN. como nuestra columna no tiene NaN da lo mismo

tasa_promedio

20.214973544973546

In [25]:
#Realiza un análisis de la mortalidad infantil (infant_mortality) y clasifica los países en tres categorías: baja, moderada y alta mortalidad infantil.

# Función para clasificar según los valores de mortalidad infantil
def clasificar_mortalidad(valor):
    if valor <= 10:
        return "Baja"
    elif valor <= 30:
        return "Moderada"
    else:
        return "Alta"

# Aplicamos la función a la columna 'infant_mortality'
df['infant_mortality_category'] = df['infant_mortality'].apply(clasificar_mortalidad)

df['infant_mortality_category']

0          Alta
1          Baja
2      Moderada
3          Baja
4          Alta
         ...
190    Moderada
191    Moderada
192        Alta
193        Alta
194        Alta
Name: infant_mortality_category, Length: 195, dtype: object

¿Por qué usar una función?
Las funciones en Python nos permiten reutilizar código y mantener el código más limpio y organizado. En este caso, queremos clasificar la mortalidad infantil según el valor, y podemos hacerlo fácilmente con una función.

¿Cómo funciona la función personalizada?
Definir la función:
Creamos una función llamada clasificar_mortalidad que toma el valor de mortalidad infantil como argumento y devuelve la categoría.

Usar apply:
Aplicamos esta función a la columna infant_mortality usando apply().

In [29]:
#Calcula la correlación entre las variables de "fertility_rate" y "life_expectancy". 
#Interpreta la relación entre estas dos variables. ¿Qué tipo de correlación hay? Explica la razón de esta relación

#sintaxis correlacion: df_correlaciones = df.corr( method = "spearman")

correlacion = df["fertility_rate"].corr(df["life_expectancy"])

correlacion

-0.8491528107360005

¿Qué hace esta línea?
df["fertility_rate"] y df["life_expectancy"]:

Aquí estamos seleccionando dos columnas del DataFrame df:

fertility_rate: La tasa de fertilidad (número de hijos por mujer en edad fértil).

life_expectancy: La esperanza de vida (número promedio de años que se espera que viva una persona en un país).

corr():

El método .corr() en pandas calcula la correlación entre dos series de datos (en este caso, entre las columnas fertility_rate y life_expectancy).

La correlación es una medida estadística que describe la relación entre dos variables.

El valor de la correlación varía entre -1 y 1:

1: Correlación perfecta positiva (a medida que una variable aumenta, la otra también lo hace).

-1: Correlación perfecta negativa (a medida que una variable aumenta, la otra disminuye).

0: No hay correlación entre las variables (cambios en una variable no afectan a la otra).

¿Qué significa el resultado?

La correlación puede ayudarte a entender cómo se relacionan la tasa de fertilidad y la esperanza de vida. Por ejemplo:

Si la correlación es positiva, significaría que países con mayor tasa de fertilidad tienden a tener una mayor esperanza de vida (o viceversa).

Si la correlación es negativa, indicaría que en países con mayor tasa de fertilidad, la esperanza de vida tiende a ser más baja.

Si la correlación es cercana a 0, significa que no hay una relación directa clara entre ambas variables.

In [ ]:
#BONUS